.more-button {
	height: 100px;
	width: 100px;
	transform: scale(0);
	margin: auto;
	border-radius: 50%;
	background-color: var(--clr-accent);
	transition: all 1s ease-in;

	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--clr-light);
	text-shadow: 0px 0px 20px var(--clr-dark);
	font-size: var(--font-size-large);
}

.project .project__header:hover .header-content .more-button {
	transform: scale(0.6);
}
.chapter--expanded .project-ul .header-content .more-button {
	transform: scale(0) !important;
}
