.next--container {
	/* min-height: 70px; */
	padding: 72px;
	background-color: var(--clr-white);
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
.mid {
	height: 65px;
	width: 65px;
	background-color: var(--clr-accent);
	border-radius: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--clr-white);

	font-weight: var(--font-weight-bold);
	font-size: var(--text-size-medium);
	text-transform: uppercase;
	cursor: pointer;
}
