/* .chapter--expanded .work-l {
	width: 30%;
}
.chapter--expanded .right {
	position: relative;
	left: 30%;
	width: 70%;
}
.chapter--expanded {
	z-index: 100;
}
.chapter--expanded .project {
	width: 100%;
	left: 0;
	-webkit-transition: 1s left cubic-bezier(0.77, 0, 0.175, 1) 0s,
		1s width cubic-bezier(0.77, 0, 0.175, 1) 0s;
	transition: 1s left cubic-bezier(0.77, 0, 0.175, 1) 0s,
		1s width cubic-bezier(0.77, 0, 0.175, 1) 0s;
} */

/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////// */

/* .chapter--expanded .project .project__header .header__cta {
	height: 0;
	-webkit-transition: 0.4s -webkit-transform cubic-bezier(
				0.6,
				-0.28,
				0.735,
				0.045
			) 0.5s,
			0.8s height cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
			transition: 0.4s transform cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.5s,
		0.8s height cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
	} */

/* .project .project__header .header__cta {
		-webkit-transform: scale(0.5);
		-ms-transform: scale(0.5);
		transform: scale(0.5);
}
.project .project__header .header__cta .slice:nth-child(0) {
	-webkit-transform: rotateZ(0deg) rotateY(-90deg) rotateX(0deg);
	transform: rotateZ(0deg) rotateY(-90deg) rotateX(0deg);
}
.project .project__header .header__cta .slice:nth-child(1) {
	-webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
	transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
}
.project .project__header .header__cta .slice:nth-child(2) {
	-webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
	transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
}
.project .project__header .header__cta .slice:nth-child(3) {
	-webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
	transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
}
.project .project__header .header__cta .slice:nth-child(4) {
	-webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
	transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
}
.project .project__header .header__cta .slice:nth-child(5) {
	-webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
	transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
}
.project .project__header .header__cta .slice:nth-child(6) {
	-webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
	transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
}
.project .project__header .header__cta .button__label {
	-webkit-transform: translateY(-50%) scale(0);
	-ms-transform: translateY(-50%) scale(0);
	transform: translateY(-50%) scale(0);
} */

/* .chapter--expanded .project .project__header .header__image,
.chapter--loading .project .project__header .header__image {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.chapter--expanded .project .project__header .header__cta,
.chapter--loading .project .project__header .header__cta {
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: 0.4s -webkit-transform cubic-bezier(
		0.6,
		-0.28,
				0.735,
				0.045
				) 0.5s,
				0.8s height cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
				transition: 0.4s transform cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.5s,
		0.8s height cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}
.chapter--expanded .project .project__header .header__cta .slice,
.chapter--loading .project .project__header .header__cta .slice {
	border-left-color: #000;
} */

/* .chapter--expanded .project .project__header,
.chapter--loading .project .project__header {
	cursor: default;
} */
/* .chapter--expanded .project .project__header .header__image,
.chapter--loading .project .project__header .header__image {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
} */
/* .chapter--expanded .project .project__header .header__cta,
.chapter--loading .project .project__header .header__cta {
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: 0.4s -webkit-transform cubic-bezier(
				0.6,
				-0.28,
				0.735,
				0.045
			) 0.5s,
		0.8s height cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
	transition: 0.4s transform cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.5s,
		0.8s height cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
} */
/* ////////////////////////////////////////////////////////////////////////// */
/* 
.chapter--closeable .chapter__close-button {
	-webkit-transform: rotateY(0deg) rotateZ(-60deg);
	transform: rotateY(0deg) rotateZ(-60deg);
}
.chapter--closeable .chapter__close-button .icon {
	-webkit-transform: scale(1) rotateZ(60deg);
	transform: scale(1) rotateZ(60deg);
	-webkit-transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.4s;
	transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.4s;
}
.chapter--closeable .chapter__close-button .slice:nth-child(0) {
	-webkit-animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s
		preload-show0 both 1;
	animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s preload-show0
		both 1;
}
.chapter--closeable .chapter__close-button .slice:nth-child(1) {
	-webkit-animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.68s
		preload-show-1 both 1;
	animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.68s preload-show-1
		both 1;
}
.chapter--closeable .chapter__close-button .slice:nth-child(2) {
	-webkit-animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.76s
		preload-show-2 both 1;
	animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.76s preload-show-2
		both 1;
}
.chapter--closeable .chapter__close-button .slice:nth-child(3) {
	-webkit-animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.84s
		preload-show-3 both 1;
	animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.84s preload-show-3
		both 1;
}
.chapter--closeable .chapter__close-button .slice:nth-child(4) {
	-webkit-animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.92s
		preload-show-4 both 1;
	animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.92s preload-show-4
		both 1;
}
.chapter--closeable .chapter__close-button .slice:nth-child(5) {
	-webkit-animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
		preload-show-5 both 1;
	animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s preload-show-5 both
		1;
}
.chapter--closeable .chapter__close-button .slice:nth-child(6) {
	-webkit-animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.08s
		preload-show-6 both 1;
	animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.08s preload-show-6
		both 1;
}
.chapter--loading .icon {
	-webkit-transform: scale(0) rotateZ(0) !important;
	transform: scale(0) rotateZ(0) !important;
	-webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
}
.chapter--loading .chapter__close-button {
	-webkit-animation: 3s preload-flip steps(2) infinite both;
	animation: 3s preload-flip steps(2) infinite both;
}
.chapter--loading .chapter__close-button .slice:nth-child(0) {
	-webkit-transform: rotateZ(0deg) rotateY(90deg) rotateX(0);
	transform: rotateZ(0deg) rotateY(90deg) rotateX(0);
	-webkit-animation: 3s preload-cycle0 cubic-bezier(0.455, 0.03, 0.515, 0.955)
		infinite both;
	animation: 3s preload-cycle0 cubic-bezier(0.455, 0.03, 0.515, 0.955)
		infinite both;
}
.chapter--loading .chapter__close-button .slice:nth-child(1) {
	-webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
	transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
	-webkit-animation: 3s preload-cycle-1
		cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
	animation: 3s preload-cycle-1 cubic-bezier(0.455, 0.03, 0.515, 0.955)
		infinite both;
}
.chapter--loading .chapter__close-button .slice:nth-child(2) {
	-webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
	transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
	-webkit-animation: 3s preload-cycle-2
		cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
	animation: 3s preload-cycle-2 cubic-bezier(0.455, 0.03, 0.515, 0.955)
		infinite both;
}
.chapter--loading .chapter__close-button .slice:nth-child(3) {
	-webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
	transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
	-webkit-animation: 3s preload-cycle-3
		cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
	animation: 3s preload-cycle-3 cubic-bezier(0.455, 0.03, 0.515, 0.955)
		infinite both;
}
.chapter--loading .chapter__close-button .slice:nth-child(4) {
	-webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
	transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
	-webkit-animation: 3s preload-cycle-4
		cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
	animation: 3s preload-cycle-4 cubic-bezier(0.455, 0.03, 0.515, 0.955)
		infinite both;
}
.chapter--loading .chapter__close-button .slice:nth-child(5) {
	-webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
	transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
	-webkit-animation: 3s preload-cycle-5
		cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
	animation: 3s preload-cycle-5 cubic-bezier(0.455, 0.03, 0.515, 0.955)
		infinite both;
}
.chapter--loading .chapter__close-button .slice:nth-child(6) {
	-webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
	transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
	-webkit-animation: 3s preload-cycle-6
		cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
	animation: 3s preload-cycle-6 cubic-bezier(0.455, 0.03, 0.515, 0.955)
		infinite both;
}

.preloader {
	font-size: 8px;
	display: block;
	width: 3.75em;
	height: 4.25em;
	margin: 0 auto;
	-webkit-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
	-webkit-transform: rotateY(180deg) rotateZ(-60deg);
	transform: rotateY(180deg) rotateZ(-60deg);
}
.preloader .slice {
	border-top: 1.125em solid transparent;
	border-right: none;
	border-bottom: 1em solid transparent;
	border-left: 1.875em solid #f7484e;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform-origin: left bottom;
	-ms-transform-origin: left bottom;
	transform-origin: left bottom;
	border-radius: 3px 3px 0 0;
}
.preloader .slice:nth-child(0) {
	-webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0);
	transform: rotateZ(0deg) rotateY(0deg) rotateX(0);
	-webkit-animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s
		preload-hide0 both 1;
	animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s preload-hide0
		both 1;
}
.preloader .slice:nth-child(1) {
	-webkit-transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
	transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
	-webkit-animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.82s
		preload-hide-1 both 1;
	animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.82s preload-hide-1
		both 1;
}
.preloader .slice:nth-child(2) {
	-webkit-transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
	transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
	-webkit-animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.74s
		preload-hide-2 both 1;
	animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.74s preload-hide-2
		both 1;
}
.preloader .slice:nth-child(3) {
	-webkit-transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
	transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
	-webkit-animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.66s
		preload-hide-3 both 1;
	animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.66s preload-hide-3
		both 1;
}
.preloader .slice:nth-child(4) {
	-webkit-transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
	transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
	-webkit-animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.58s
		preload-hide-4 both 1;
	animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.58s preload-hide-4
		both 1;
}
.preloader .slice:nth-child(5) {
	-webkit-transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
	transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
	-webkit-animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s
		preload-hide-5 both 1;
	animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s preload-hide-5
		both 1;
}
.preloader .slice:nth-child(6) {
	-webkit-transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
	transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
	-webkit-animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.42s
		preload-hide-6 both 1;
	animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.42s preload-hide-6
		both 1;
}
.preloader.loading {
	-webkit-animation: 2s preload-flip steps(2) infinite both;
	animation: 2s preload-flip steps(2) infinite both;
}
.preloader.loading .slice:nth-child(0) {
	-webkit-transform: rotateZ(0deg) rotateY(90deg) rotateX(0);
	transform: rotateZ(0deg) rotateY(90deg) rotateX(0);
	-webkit-animation: 2s preload-cycle0 cubic-bezier(0.455, 0.03, 0.515, 0.955)
		infinite both;
	animation: 2s preload-cycle0 cubic-bezier(0.455, 0.03, 0.515, 0.955)
		infinite both;
}
.preloader.loading .slice:nth-child(1) {
	-webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
	transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
	-webkit-animation: 2s preload-cycle-1
		cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
	animation: 2s preload-cycle-1 cubic-bezier(0.455, 0.03, 0.515, 0.955)
		infinite both;
}
.preloader.loading .slice:nth-child(2) {
	-webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
	transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
	-webkit-animation: 2s preload-cycle-2
		cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
	animation: 2s preload-cycle-2 cubic-bezier(0.455, 0.03, 0.515, 0.955)
		infinite both;
}
.preloader.loading .slice:nth-child(3) {
	-webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
	transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
	-webkit-animation: 2s preload-cycle-3
		cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
	animation: 2s preload-cycle-3 cubic-bezier(0.455, 0.03, 0.515, 0.955)
		infinite both;
}
.preloader.loading .slice:nth-child(4) {
	-webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
	transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
	-webkit-animation: 2s preload-cycle-4
		cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
	animation: 2s preload-cycle-4 cubic-bezier(0.455, 0.03, 0.515, 0.955)
		infinite both;
}
.preloader.loading .slice:nth-child(5) {
	-webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
	transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
	-webkit-animation: 2s preload-cycle-5
		cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
	animation: 2s preload-cycle-5 cubic-bezier(0.455, 0.03, 0.515, 0.955)
		infinite both;
}
.preloader.loading .slice:nth-child(6) {
	-webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
	transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
	-webkit-animation: 2s preload-cycle-6
		cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
	animation: 2s preload-cycle-6 cubic-bezier(0.455, 0.03, 0.515, 0.955)
		infinite both;
} */
