.good-bye {
	height: 100vh;
	overflow-x: visible;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bow-container {
	position: absolute;
	height: 207px;
	width: 62px;
}

.bow-animation {
	position: absolute;
	bottom: 0;
	scale: 1.3;
}
