.main-nav {
	position: absolute;
	bottom: 0;
	padding-bottom: 4%;
	width: 100%;
	font-weight: var(--font-weight-main-nav);
	text-transform: uppercase;
}

@media screen and (max-width: 980px) {
	.left .main-nav {
		display: none;
	}
}

.main-nav > ul li:not(:first-child)::before {
	content: "/";
	padding: 0 14px 0 11px;
}
.contact-l .main-nav,
.intro .main-nav {
	color: var(--clr-accent);
}
.nav--links {
	display: inline-block;
	position: relative;
	text-decoration: none;
	letter-spacing: 1px;
	padding-bottom: 3px;
	cursor: pointer;
}

.contact-l .nav--links,
.intro .nav--links {
	color: var(--clr-accent);
}

.nav--links::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: currentColor;

	transform: scaleX(0);
	transform-origin: right;
	transition: transform 150ms;
}

.nav--links:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}
