@media screen and (min-width: 980px) {
	.headshot {
		position: absolute;
		display: block;
		max-width: 130px;
		top: 96px;
		right: calc(0% - 65px);
	}
}
@media screen and (min-width: 1200px) {
	.headshot {
		max-width: 160px;
		right: calc(0% - 80px);
	}
}
@media screen and (max-width: 980px) {
	.headshot {
		display: none;
	}
}
@media screen and (max-width: 500px) {
	.about-content {
		padding: 48px;
	}
}

.about-content {
	padding: 96px;
}

.about-content h3,
.about-content h4 {
	margin-bottom: 35px;
}
.about-content h4 {
	margin-top: 50px;
}

.about-content p {
	margin-bottom: 25px;
}

.about-content h3:last-child,
.about-content h4:last-child {
	margin-bottom: 45px;
}

.pre-goals {
	line-height: 1.75em;
	color: var(--font-clr-gray);
}
.goals {
	/* list-style-type: circle; */
	padding: 9px 0px 40px 40px;
	text-align: left;
	line-height: 1.75em;
	color: var(--font-clr-gray);
}
.goals-li::before {
	content: "\25E6";
	color: var(--clr-accent);
	font-size: var(--font-size-medium);
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.goals-li {
	display: list-item;
	overflow-x: initial;
}

.peace {
	width: 33%;
	max-width: 100px;
	float: left;
}
.peace-text {
	width: 66.67%;
	padding-left: 40px;
	float: left;
}

.l-img-r-text {
	display: inline-block;
	width: 100%;
}
