/* @import url("https://fonts.googleapis.com/css2?family=Ole&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Ole&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Ole&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ole&family=Quicksand&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Exo&family=Ole&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Exo&family=Great+Vibes&display=swap");
:root {
	/* --clr-accent: #379683; */
	--clr-accent: #09cde3;
	--clr-dark: #292929;
	--clr-light: white;
	/* --clr-dark: white; */
	/* --clr-light: #292929; */

	--font-weight-bold: 800;
	--font-weight-main-nav: 550;

	--font-size-small: 0.875em;
	--font-size-medium: 1.2em;
	--font-size-large: 1.5em;
	--font-family-cursive: "Great Vibes";

	--font-clr-gray: rgb(69, 69, 69);
}

#die {
	display: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* font-family: "Nanum Gothic"; */
	/* font-family: "Fira Sans"; */
	/* font-family: "Quicksand"; */
	font-family: "Exo";
}

.white {
	background-color: var(--clr-light);
}
.green {
	background-color: var(--clr-accent);
}
.gray {
	background-color: var(--clr-dark);
}
.fullpage-section {
	position: relative;
	top: 0;
	min-height: 100vh;
	width: 100%;
	z-index: 2;
}

ul {
	list-style-type: none;
	text-align: center;
}
li {
	display: inline-block;
	/* cursor: pointer; */
}

a:visited,
a:focus,
a:active {
	color: inherit;
}
.chapter--expanded .left {
	border-right: 1px solid #efefef;
}
@media screen and (min-width: 980px) {
	.left {
		width: 50%;
		left: 0;
		position: absolute;
		height: 100vh;
	}
	.right {
		position: relative;
		width: 50%;
		left: 50%;
		height: fit-content;
	}
}
@media screen and (max-width: 979px) {
	.left {
		width: 100% !important;
		height: 100vh;
	}
	.right {
		width: 100% !important;
		min-height: 100vh;
	}
}

.about-l,
.work-l,
.contact-l {
	top: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow-x: initial;
}
.about-r {
	height: fit-content;
	z-index: -1;
}

.fixed {
	position: fixed;
	z-index: 2;
}

.full {
	position: relative;
	height: 100%;
	width: 100%;
}

.unselectables {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: var(--font-family-cursive), cursive;
	font-size: 7em;
	overflow-x: inherit;
	text-shadow: 2px 2px var(--clr-accent);
}
.about-l .unselectables,
.contact-l .unselectables {
	text-shadow: 3px 3px black;
	color: white;
}

p {
	max-width: 65ch;
	line-height: 1.75em;
	color: var(--font-clr-gray);
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 700;
	color: black;
}
